<a href="https://colab.research.google.com/github/Pai-Chai-University/IOT-with-Raspberry-PI/blob/master/03tuple02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
one = '하나'
print(type(one))
one = "원"
print(one)
two = '둘'
print(type(two))
#two[0] = '투'
print(two[0])